.signupContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}
.signupCard{
  border:1px solid transparent;
  background-color: var(--white-clr);
  border-radius: 8px;
  padding: 1rem;
  max-height: 90dvh;
  min-height: 400px;
  width: clamp(300px,400px,60%);
}
.Icon_with_text{
  margin-top: 1rem;
  display: grid;
  place-items: center;
}
.iconStyle{
  color: var(--app-primary-clr);
}
.welcome{
  font-family: 'sfpro-sb';
  text-align: center;
}
.smalNote{
  text-align: center;
    font-size: 1.2rem;
    color: cadetblue;
}
.signupForm{
  padding: 2rem;
}
.formContainer{
  display: grid;
  gap: 3rem;
}
.form-control{
  font-size: 1.4rem;
}
.form-control:focus{
  box-shadow: none;
}
.input-group-text {
  background-color: transparent !important;
}
.tools{
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}
.submit{
  display: flex;
  justify-content: center;
}
.signUpBtn{
  color: var(--white-clr) !important;
  padding-inline: 4rem;
  font-size: 1.5rem;
  border-radius: 3rem;
  position: relative;
  background-image: linear-gradient(#FF6000, #f14837) !important;
}
.signUpBtn::after{
  position: absolute;
  content: "\f2bc";
  font-family: "FontAwesome";
  opacity:0.8;
  padding-left: 0.8rem;
  transition: opacity 200ms ease-in ;

}
.resentlink{
  margin-left: 2px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 300ms ease-in-out,transform 300ms ease-in-out;
}
.resentlink:hover{
  opacity: 1;
  transform: scale(0.9);
}
.signUpBtn:hover::after {
  opacity: 1;
  animation: shake 1s ease-in infinite;
}
.errorTextInput{
position: absolute;
    top: 35px;
    color: red;
}
.input-group{
  .ng-touched.ng-invalid{
  border: 1px solid red;
}
}

