::ng-deep{
  .p-toast-top-right {
  top: 70px !important;
}
.p-toast {
  width: max-content !important;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  font-size: 1.4rem !important;
}
.pi {
  font-size: 1.4rem !important;
}
}
