.headerbar{
   background: linear-gradient(to left, #f46b45, #e69142);
  // background-color:#fff;
   position: sticky;
   top: 0px;
}
.headContens{
  margin-inline: 1rem;
  height: inherit;
  grid-template-columns: 30% 40% 30%;
}
.iconStyle{
  color: var(--white-clr);
  padding: 0.8rem;
  border-radius: 30%;
  transition: font-size 500ms ease-in-out, background-color 500ms ease-in-out;
  &:hover{
   background-color: var(--app-primary-clr);
   transform: scale(0.8);
   }
}
.appName{
  color: var(--white-clr);
  font-style:italic;
  font-family: 'sfpro-sb';
}

.profileTrigger:hover{
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

  }

.profileSection{
  color: var(--white-clr);
  margin-right: 2rem;
}
.userName{
  margin-right: 5px;
  font-family: 'sfpro-sb';
}

.userDetails {
  text-align: center;

  .userFirstLetter {
    background-color:var(--app-primary-clr);
    color: var(--white-clr);
    padding-inline: 1rem;
    padding-block: 0.5rem;
  }
}
.actions:hover{
 .icons{
  animation: swirl-in-fwd 0.6s ease-out both;

 }
}
